@model IEnumerable<Tweeter.Models.Tweet>

<h2>Weekly Top 5</h2>

<div class="row">
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@item.Author.FriendlyName</h4>
                    <p class="card-text">@item.Text</p>
                    <p class="card-text">Favs: @item.Favs</p>
                    <p class="card-text">Fecha: @item.PostedDate</p>
                </div>
            </div>
        }
    </div>
</div>
